@media all and (max-width: 1024px) {

	body {
		font-size: 0.45em;
	}

	.main-box {
		width: 95%;
	}

	.right-box form input:not([type="submit"]) {
		font-size: 20px;
	}

	.flex-container {
		width: 95%;
	}

	.box {
		padding: 2%;
		height: 48%;
		font-size: 0.95em;
	}

	.last-box > a {
		width: 30%;
	}

	footer > p {
		font-size: 6.0em;
		letter-spacing: 10px;
	}

}