@media all and (max-width: 900px) {

	body {
		font-size: 0.48em;
	}

	.arrow {
		display: none;
	}

	header h1 {
		font-size: 6em;
		letter-spacing: 5px;
		text-decoration: none;
	}

	.second-panel {
		background: url('../img/foto2.jpg') left center;
	}

	.third-panel {
		background: url('../img/foto3.jpg') right center;
	}

	.main-box {
		box-sizing: border-box;
		width: 100%;
		top: 0;
		height: 100%;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		background: rgba(0,0,0,0.75);
	}

	.left-box {
		padding-bottom: 0%;
	}

	.left-box, .right-box {
		width: 100%;
	}

	.left-box {
		height: 47%;
	}

	.right-box {
		height: 53%;
	}

	.left-box h2 {
		text-align: center;
		margin-top: 5px;
	}

	.left-box > ul >li {
		text-align: center;
		font-size: 2.7em;
		padding: 1px 0;
	}

	.right-box h2 {
		margin-top: 0px;
		margin-bottom: 10px;
	}

	.right-box form input:not([type="submit"]) {
		width: 60%;
		font-size: 20px;
		padding: 8px 5px;
	}

	.flex-container {
		box-sizing: border-box;
		top: 0;
		width: 100%;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		background: rgba(0, 0, 0, 0.5);
	}

	.box {
		width: 100%;
		margin: 0;
		padding: 3% 10%;
		height: auto;
		background: 0;
	}

	.box > .icon {
		margin-bottom: 3%;
	}

	.box > h4 {
		font-size: 3.5em;
		margin-bottom: 3%;
	}

	.box .description {
		font-size: 2.8em;
	}

	.last-box {
		width: 95%;
		font-size: 0.7em;
	}

	.last-box > p {
		font-family: "Open Sans";
	}

	.right-box form input[type="submit"], .last-box > a {
		width: 40%;
		padding: 2% 4%;
		font-size: 3em;
		border: 1px solid #fff;
		font-family: "Open Sans";
	}

	.right-box form input[type="submit"]:hover, .last-box > a:hover {
		border: 1px solid #fff;
		background: #1b6bff;
		color: #fff;
	}

	footer > p {
		font-size: 4.9em;
		letter-spacing: 5px;
	}

}