@font-face {
    font-family: 'IcoMoon-Free';
    src: url('../fonts/IcoMoon-Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arrows';
    src: url('../fonts/arrows-webfont.eot');
    src: url('../fonts/arrows-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arrows-webfont.woff2') format('woff2'),
         url('../fonts/arrows-webfont.woff') format('woff'),
         url('../fonts/arrows-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'edmund';
    src: url('../fonts/edmunds_distressed-webfont.eot');
    src: url('../fonts/edmunds_distressed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/edmunds_distressed-webfont.woff2') format('woff2'),
         url('../fonts/edmunds_distressed-webfont.woff') format('woff'),
         url('../fonts/edmunds_distressed-webfont.ttf') format('truetype'),
         url('../fonts/edmunds_distressed-webfont.svg#edmundsdistressed') format('svg');
    font-weight: normal;
    font-style: normal;
}