@media all and (max-width: 1680px) {

	body {
		font-size: 0.50em;
	}

	.right-box form input:not([type="submit"]) {
		font-size: 20px;
	}

	.box .description {
		font-size: 2.6em;
	}

}

@media all and (max-width: 1366px) {

	body {
		font-size: 0.42em;
	}

	.right-box form input:not([type="submit"]) {
		font-size: 18px;
	}

	.box {
		padding: 2%;
		height: 45%;
	}

}

@media all and (max-width: 1280px) {

	body {
		font-size: 0.39em;
	}

	.main-box {
		width: 85%;
	}

	.flex-container {
		width: 85%;
	}

}

@media all and (max-width: 1024px) {

	body {
		font-size: 0.45em;
	}

	.main-box {
		width: 95%;
	}

	.right-box form input:not([type="submit"]) {
		font-size: 20px;
	}

	.flex-container {
		width: 95%;
	}

	.box {
		padding: 2%;
		height: 48%;
		font-size: 0.95em;
	}

	.last-box > a {
		width: 30%;
	}

	footer > p {
		font-size: 6.0em;
		letter-spacing: 10px;
	}

}

@media all and (max-width: 900px) {

	body {
		font-size: 0.48em;
	}

	.arrow {
		display: none;
	}

	header h1 {
		font-size: 6em;
		letter-spacing: 5px;
		text-decoration: none;
	}

	.second-panel {
		background: url('../img/foto2.jpg') left center;
	}

	.third-panel {
		background: url('../img/foto3.jpg') right center;
	}

	.main-box {
		box-sizing: border-box;
		width: 100%;
		top: 0;
		height: 100%;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		background: rgba(0,0,0,0.75);
	}

	.left-box {
		padding-bottom: 0%;
	}

	.left-box, .right-box {
		width: 100%;
	}

	.left-box {
		height: 47%;
	}

	.right-box {
		height: 53%;
	}

	.left-box h2 {
		text-align: center;
		margin-top: 5px;
	}

	.left-box > ul >li {
		text-align: center;
		font-size: 2.7em;
		padding: 1px 0;
	}

	.right-box h2 {
		margin-top: 0px;
		margin-bottom: 10px;
	}

	.right-box form input:not([type="submit"]) {
		width: 60%;
		font-size: 20px;
		padding: 8px 5px;
	}

	.flex-container {
		box-sizing: border-box;
		top: 0;
		width: 100%;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		background: rgba(0, 0, 0, 0.5);
	}

	.box {
		width: 100%;
		margin: 0;
		padding: 3% 10%;
		height: auto;
		background: 0;
	}

	.box > .icon {
		margin-bottom: 3%;
	}

	.box > h4 {
		font-size: 3.5em;
		margin-bottom: 3%;
	}

	.box .description {
		font-size: 2.8em;
	}

	.last-box {
		width: 95%;
		font-size: 0.7em;
	}

	.last-box > p {
		font-family: "Open Sans";
	}

	.right-box form input[type="submit"], .last-box > a {
		width: 40%;
		padding: 2% 4%;
		font-size: 3em;
		border: 1px solid #fff;
		font-family: "Open Sans";
	}

	.right-box form input[type="submit"]:hover, .last-box > a:hover {
		border: 1px solid #fff;
		background: #1b6bff;
		color: #fff;
	}

	footer > p {
		font-size: 4.9em;
		letter-spacing: 5px;
	}

}

@media all and (max-width: 520px) {

	header h1 {
		font-size: 5em;
		letter-spacing: 1px;
		text-decoration: none;
	}

	body {
		font-size: 0.42em;
	}

	.left-box h2 {
		font-size: 2.8em;
		padding-bottom: 3%;
	}

	.left-box > ul:first-of-type {
		display: block;
	}

	.left-box > ul:nth-of-type(2) {
		display: none;
	}

	.left-box > ul >li {
		font-size: 3em;
	}

	.right-box h2 {
		font-size: 3.5em;
	}

	.right-box form input:not([type="submit"]) {
		width: 90%;
		font-size: 20px;
		padding: 8px 5px;
	}

	.right-box form input[type="submit"], .last-box > a {
		width: 50%;
		font-size: 2.5em;
	}

	.box {
		padding: 8% 5%;
	}

	.box > .icon {
		font-size: 5em;
		padding-bottom: 3%;
	}

	.box > h4 {
		font-size: 3em;
		padding-bottom: 3%
	}

	.box .description {
		font-size: 2.4em;
	}

	.last-box {
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		padding: 20% 0;
		background: rgba(0,0,0,0.5);
		top: 0;
	}

	.registry-info {
		font-size: 3em;
		font-family: "Open Sans";
		font-weight: normal;
	}

	footer > p {
		font-size: 3.5em;
		letter-spacing: 2px;
		padding: 5% 0;
	}

}

@media all and (-webkit-min-device-pixel-ratio: 1.7) {

	.left-box > ul >li {
		font-size: 2.3em;
	}

	.right-box h2 {
		font-size: 3em;
	}

	.right-box form input:not([type="submit"]) {
		width: 90%;
		font-size: 18px;
		padding: 5px;
	}

	.right-box form input[type="submit"] {
		width: 50%;
		font-size: 2.2em;
	}

	.registry-info {
		font-size: 4em;
		font-family: "Open Sans";
		font-weight: normal;
	}

	.last-box > a {
		font-size: 3em;
	}

}