@keyframes arrow-anim {
	0% {
		-webkit-transform: scale(1.0);
		-moz-transform: scale(1.0);
		-ms-transform: scale(1.0);
		-o-transform: scale(1.0);
		transform: scale(1.0);

		bottom: 0;
	}
	50% {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);

		bottom: -20px;
	}
	100% {
		-webkit-transform: scale(1.0);
		-moz-transform: scale(1.0);
		-ms-transform: scale(1.0);
		-o-transform: scale(1.0);
		transform: scale(1.0);

		bottom: 0;
	}
}

@keyframes arrow-anim2 {
	0% {
		-webkit-transform: scale(1.0);
		-moz-transform: scale(1.0);
		-ms-transform: scale(1.0);
		-o-transform: scale(1.0);
		transform: scale(1.0);
	}
	50% {
		-webkit-transform: scale(2.0);
		-moz-transform: scale(2.0);
		-ms-transform: scale(2.0);
		-o-transform: scale(2.0);
		transform: scale(2.0);
	}
	100% {
		-webkit-transform: scale(1.0);
		-moz-transform: scale(1.0);
		-ms-transform: scale(1.0);
		-o-transform: scale(1.0);
		transform: scale(1.0);
	}
}

body {
	font-family: 'Open Sans';
	font-size: 0.625em;
	color: #fff;
}

li, p {
	font-size: 2.5em;
}

header h1, footer > p {
	text-transform: uppercase;
	font-family: 'edmund';
	font-size: 8em;
	/*text-decoration: underline;*/
	color: #A60404;
	text-align: center;
	background: #000;
	letter-spacing: 20px;
	font-weight: normal;
	padding: 1% 0;
}

header h1 {
	text-decoration: underline;
}

header h1 span {
	letter-spacing: 0;
}

.panel {
	position: relative;
}

.content {
	background: url('../img/foto1.jpg') top center;
}

.second-panel {
	background: url('../img/foto2.jpg') bottom center;
}

.third-panel {
	background: url('../img/foto3.jpg') bottom center;
}

.content, .second-panel, .third-panel {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

.opacity {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
}

.content > .opacity {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

.main-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

	width: 70%;
	background: rgba(0,0,0,0.85);
	padding: 1.5%;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;

	position: relative;
	top: -50px;
}

.left-box, .right-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

	padding: 1%;
}

.left-box {
	width: 55%;
}

.right-box {
	width: 45%;
}

.left-box h2 {
	text-transform: uppercase;
	font-size: 3.8em;
	font-weight: normal;
	margin-bottom: 2%;
}

.left-box h2 span {
	font-family: "Open Sans Bold";
}

span.li {
	font-family: 'arrows';
	font-size: 1.6em;
	display: inline-block;
	position: relative;
	top: 5px;
}

.left-box > ul:first-of-type {
	display: none;
}

.left-box > ul >li {
	padding: 5px 0;
}

.left-box > ul >li > span:last-child {
	font-family: "Open Sans Bold";
}

.right-box h2 {
	font-family: 'Open Sans';
	font-weight: normal;
	font-size: 3.8em;
	text-align: center;
	margin-bottom: 7%;
}

.right-box h2 span {
	font-family: "Open Sans Bold";
}

.right-box form.login-form {
	display: none;
}

.right-box form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

.right-box form input {
	display: block;
	color: #fff;
}

.right-box form input:not([type="submit"]) {
	width: 70%;
	font-family: 'Open Sans';
	font-weight: normal;
	font-size: 25px;
	border: 0;
	background: rgba(255, 255, 255, 0.3);
	padding: 2%;
	margin: 1.2%;
}

.right-box form input[type="submit"], .last-box > a {
	width: 45%;
	border: 3px solid #fff;
	background: #0d004c;
	color: #fff;
	font-size: 2.5em;
	padding: 1.2% 2%;
	font-family: "Open Sans Bold";
	margin: 2% 0 0 0;
	cursor: pointer;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.right-box form input[type="submit"]:hover, .last-box > a:hover {
	border: 3px solid #fff;
	background: #1b6bff;
	color: #fff;
}

.right-box > p {
	width: 100%;
	text-align: center;
	padding: 3% 0;
}

.right-box > p > a {
	color: #1b6bff;
	font-family: "Open Sans Bold";
	cursor: pointer;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.right-box > p > a:hover {
	color: #00C5FF;
}

.arrow {
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -35px;
	border: solid 6px #A60404;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;

	margin-bottom: 35px;
	cursor: pointer;

	-webkit-animation: arrow-anim 2s infinite;
	-moz-animation: arrow-anim 2s infinite;
	-ms-animation: arrow-anim 2s infinite;
	-o-animation: arrow-anim 2s infinite;
	animation: arrow-anim 2s infinite;
}

.arrow p {
	font-family: 'arrows';
	font-size: 50px;
	color: #A60404;
	width: 100%;
	height: 100%;
	text-align: center;
}





.flex-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;

	width: 80%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	top: -50px;
}

.box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

	width: 25%;
	background: rgba(0, 0, 0, 0.9);
	padding: 1.7%;
	margin: 0 1%;
	height: 50%;
}

.box > .icon {
	display: inline-block;
	text-align: center;
	font-size: 6em;
	width: 100%;
	margin-bottom: 10%;
}

.box > h4 {
	text-transform: uppercase;
	font-size: 3em;
	font-family: "Open Sans Bold";
	text-align: center;
	margin-bottom: 10%;
}

.box .description {
	text-align: center;
	font-size: 2.3em;
	line-height: 1.4;
}





.last-box {
	width: 75%;
	margin: 0 auto;
	background: rgba(0,0,0,0.85);
	padding: 2.5% 0;
	position: relative;
	top: 8%;
}

.registry-info {
	font-family: "Open Sans Bold";
	font-size: 4em;
	text-align: center;
	margin-bottom: 3%;
}

.last-box > a {
	display: block;
	width: 18%;
	text-transform: uppercase;
	margin: 0 auto;
	text-align: center;
	padding: 1.2% 2.2%;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer > p {
	background: rgba(0,0,0,0.95);
	padding: 1.7% 0;
}