body {
	font-size: 0.625em;
	font-family: $OS;
}

.content {

	margin-left: $nav;

	.info {
		background: #f6f8f8;
		position: relative;
		border-bottom: 1px solid #eee;
		height: 100px;

		.container {
			width: auto;
		}

		.place {

			h2 {
				font-family: $OS;
				font-weight: 700;
				font-size: 3em;
				padding: 10px 0 5px 5px;
			}

			h3 {
				font-family: $OS;
				font-weight: 300;
				font-size: 2em;
				padding: 10px 0 10px 5px;
			}
		}

		.breadcrumbs {

			padding-top: 10px;

			h3 {
				text-transform: uppercase;
				font-family: $OS;
				font-size: 1.8em;
				color: #a7a7a7;
				padding-right: 5px;

				a {
					text-transform: none;
					color: #5a5b5b;
					margin-left: 10px;
				}

				span {
					margin-left: 10px;
				}
			}
		}
	}

	& > .container {
		background: #f0f3f3;
		width: auto;
		padding: 20px;

		.empty, .add-car {
			height: 300px;
		}

		.empty {
			background: #fff;
			position: relative;

			p {
				width: 100%;
				position: absolute;
				font-family: $OS;
				font-weight: 300;
				font-size: 5em;
				color: #333;
				top: 40%;
				font-weight: bold;
			}
		}

		.add-car {
			background: $colorTurkus;
			position: relative;
			display: block;
			transition: 0.3s all;

			i {
				font-size: 50px;
				color: #fff;
				padding-right: 20px;
			}

			p {
				width: 100%;
				position: absolute;
				text-align: center;
				top: 40%;
				font-family: $OS;
				font-weight: 300;
				font-size: 5em;
				color: #fff;
				font-weight: bold;
			}

			&:hover {
				background: #1F8E89;
			}
		}
	}

	&.add-car {

		& > .info {
			height: 70px;
		}

			form {

				background: #fff;

				h3 {
					font-family: $OS;
					font-weight: 300;
					font-size: 2.4em;
					padding: 20px 0 20px 10px;
					border-bottom: 1px solid #eff2f7;
					margin-bottom: 20px;
				}

				.account-header {
					text-align: center;
					font-weight: bold;
					font-size: 3em;
					padding-right: 10px;

					&:not(:first-child) {
						border-top: 1px solid #eff2f7;
					}
				}

				label {
					font-family: $OS;
					font-weight: 700;
					font-size: 2.2em;
					color: #424856;
					margin-top: -6px;

					&.lbl-radio {
						font-weight: 300;
						font-size: 2em;
						margin-right: 25px;
					}

					&.long {
						margin-top: -6px;
					}
				}

				input[type="radio"] {
					width: 20px;
					height: 20px;
					margin-right: 5px;
					margin-top: 8px;
				}

				input[type="text"], .same-styles {

					border-radius: 0;
					border: 2px solid #e8ebed;
					font-size: 2em;
					font-family: $OS;
					color: #424856;
					font-weight: 300;
					height: 20px;
					box-sizing: content-box;

					&:focus {
						border-color: #66AFE9;
					}

				}

				select.same-styles {
					padding: 0 12px;
					height: 32px;
				}

				.drop {
					border: 5px dashed #f0f3f3;
					height: 170px;
					position: relative;
					cursor: pointer;
					margin-bottom: 5px;

					p {
						font-family: $OS;
						font-weight: 300;
						font-size: 2.2em;
						color: #999;
						width: 100%;
						position: absolute;
						top: 50%;
						margin-top: -26px;

						span {
							display: block;
							margin-top: 10px;
							font-size: 0.8em;
						}
					}
				}

				.drop.dragOver {
					border: 5px dashed #27b6af;
					color: #27b6af;

					p {
						font-size: 4em;
						margin-top: -40px;
						font-weight: 700;
					}
				}

				.small-input {

					.row {
						margin-bottom: 10px;
					}

					.row label {
						font-size: 2em;
						font-weight: 700;
						margin-top: 4px;
						min-width: 120px;

						&.thin {
							font-weight: 300;
						}

					}

					input {
						margin-top: 0;
						height: 20px;
						box-sizing: content-box;
						padding: 6px 12px;
						margin-right: 20px;
						width: 50px;

						&:focus {
							border-color: #66AFE9;
							outline: 0;
							-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
							box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
						}
					}
				}

				button {
					margin-bottom: 20px;
				}

			}
	}

	#myModal {
		z-index: 9999999;

		h1 {
			font-size: 3em;
			margin-top: 15px;
			margin-bottom: 15px;
		}

	}

	&.garage {
		.add-car {
			height: 100px;
			position: relative;
			margin-bottom: 20px;

			p {
				position: absolute;
				top: 15%;
				font-weight: normal;

				i {
					font-size: 40px;
					padding-top: 0;
					padding-right: 20px;
				}
			}

		}

		.empty {
			display: block;
			height: 250px;
			background: #2e313a;
			margin-bottom: 20px;
			transition: 0.3s all;

			& > p:first-of-type {
				font-family: $OS;
				font-weight: 700;
				font-size: 4.8em;
				text-transform: uppercase;
				top: 15%;
				color: #fff;
			}

			.reg {
				font-size: 2.4em;
				top: 55%;
				color: #fff;
			}

			i {
				font-size: 220px;
				color: rgba(255, 255, 255, 0.07)
			}

			&:hover {
				background: #222329;
			}
		}
	}

	&.car {

		& > .info {
			height: 70px;
		}

		.container {

			.car {

				height: 250px;
				padding: 15px;
				background: #1d212a;

				p {
					font-family: $OS;
					font-weight: 700;
					color: #fff;

					&.name {
						font-size: 3em;
						margin-top: 25px;
					}

					&.km {
						font-size: 1.8em;
						margin-top: 40px;
					}

					&.reg {
						font-size: 2.2em;
						font-weight: 300;
						margin-top: 40px;
					}
				}
			}

			.drop {
				border: 5px dashed #fff;
				height: 250px;
				position: relative;
				cursor: pointer;

				p {
					font-family: $OS;
					font-weight: 300;
					font-size: 2.2em;
					color: #999;
					width: 100%;
					position: absolute;
					top: 50%;
					margin-top: -26px;

					span {
						display: block;
						margin-top: 10px;
						font-size: 0.8em;
					}
				}
			}

			.drop.dragOver {
				border: 5px dashed #27b6af;
				color: #27b6af;

				p {
					font-size: 4em;
					margin-top: -40px;
					font-weight: 700;
				}
			}

			.car-info {
				background: #fff;
				margin-top: 25px;
				font-family: $OS;
				font-weight: 300;
				color: #1d212a;
				font-size: 2.4em;
				box-sizing: content-box;
				padding: 15px;

				h3 {
					margin-bottom: 20px;
				}

				td {
					border: 0;
					padding: 5px 0;
				}

				td:first-child {
					font-size: 0.9em;
					color: #999;
				}

				td:last-child {
					font-size: 0.9em;
					font-weight: 700;
					color: #1d212a
				}
			}
		}
	}

	&.map {

		.info {
			height: 70px;
		}

		form {

			margin-bottom: 20px;

			input {
				width: 100%;
				border-radius: 0;
				border: 2px solid #e8ebed;
				color: #424856;
				font-size: 3em;
				height: 60px;

				&:focus {
					border: 2px solid #66AFE9;
				}
			}

			button {
				height: 60px;
				font-size: 3em;
				width: 100%;
			}
		}

		#map-container {
			height: 500px;
			width: 100%;
			margin-bottom: 20px;
		}

		.well {
			margin-bottom: 10px;
			border-radius: 0;
			font-size: 2em;
			line-height: 1.5;
			border: 1px solid #424856;

			small {
				font-size: 0.75em;
				line-height: 2;
			}
		}
	}

	&.news {

		.info {
			height: 70px;
		}

		& > .container {
			padding: 15px 100px;
		}

		.box-link {

			color: #424856;

			display: block;
			transition: all 0.3s;

			&:hover {
				text-decoration: none;
				opacity: 0.75;
				color: $colorTurkus;
			}
		}

		.well {

			border-radius: 0;
			background: #fff;

			.logo {

				img {
					max-width: 100%;
				}
			}

			h4 {
				font-family: $OS;
				padding: 15px 0;
				font-weight: bold;
				font-size: 3em;
			}

			p {
				font-family: $OS;
				font-size: 2em;
				text-align: justify;
			}
		}



	}


	&.one-news-site {

		.info {
			height: 70px;
		}

		.message {

			color: #424856;

			.logo {

				img {
					max-width: 100%;
					max-height: 300px;
				}
			}

			h3 {
				font-family: $OS;
				padding: 15px 0;
				font-weight: bold;
				font-size: 3em;
			}

			p {
				font-family: $OS;
				font-size: 2em;
				text-align: justify;
				padding: 0 5%;
			}
		}

	}

	&.database {

		.info {
			height: 70px;
		}

		.car-database, .choose-car {
			background: #fff;
			padding: 15px;
		}

		.choose-car {
			margin-bottom: 15px;
		}

		& > .container {

			h3 {
				font-size: 2.5em;
				font-weight: bold;
				font-family: $OS;
				margin-bottom: 30px;
			}

			table > tbody > tr {
				font-size: 2.4em;
				font-family: $OS;
				color: #424856;

				td {
					font-size: 0.9em;
					border: none;
					padding: 10px 0;

					&.header {
						font-weight: bold;
						text-transform: uppercase;
					}
				}
			}

			form {

				select {
					margin-bottom: 10px;
					border-radius: 0;
					font-family: $OS;
					font-size: 2em;
					height: auto;
				}

				option[disabled] {
					color: #ccc;
				}

				button {
					width: 100%;
				}
			}

		}



	}

}

.infowindow {
	font-family: $OS;
	font-size: 1.4em;
	color: #424856;

	span {
		font-weight: 700;
		font-size: 1.1em;
	}
}