header {

	width: 100%;
	padding: 0;
	height: 60px;

	.page-header {

		float: left;
		height: 61px;
		position: fixed;
		top: 0; left: 0;
		z-index: 9999;
		background: #000;
		width: 250px;
		margin: 0;
		padding: 0;

		a {
			display: block;
			margin-top: 17px;
			color: $colorBordo;
			font-size: 20px;
			font-family: $montserrat;
			font-weight: 700;
			text-transform: uppercase;
		}

		&:hover {
			color: $colorBordo;
		}

	}

	.top {

		.container {
			width: auto;
			margin-left: 250px;
		}

		.mini-menu-btn {
			font-size: 25px;
			height: 60px;
			padding: 15px 20px;
			margin-left: -15px;

			&:hover {
				background: #f6f8f8;
				cursor: pointer;
			}
		}

		.profile {
			margin-right: 20px;

			.avatar {
				box-sizing: content-box;
				background: url('../img/avatar32.png');
				border: 1px solid #20242d;
				border-radius: 50%;
				width: 32px;
				height: 32px;
				margin-top: 10px;
				margin-left: -15px;
				margin-right: -15px;
			}

			a {
				font-size: 14px;
				margin-top: 17px;
				color: #1d2939;
				font-family: $OS;
				font-weight: 700;
				margin-right: -10px;
			}
		}
	}
}