// ROZDZIELCZOŚĆ TELEFONU NA PÓŹNIEJ
// NOWE TABLETY RóWNIEż RODZIELCZOść TELEFONICZNA (DUżY PX RATIO)
@media (max-width: 767px) {
	body {
		font-size: 0.4em;

		.row {
			margin: 0;
		}
	}
	header .page-header h1{
		font-size: 4em;
	}
	.container {
		padding: 0;
		margin: 0;
	}
	.jumbotron {
		margin-top: 0;
		margin-bottom: 0;
		padding: 5px;
		text-align: center;

		h2 {
			font-size: 1.2em;
			margin: 20px 0;
		}
		form, .form-group {
			padding: 0;
		}

		input {
			font-size: 1.2em;
		}

		.warning {
			font-size: 0.8em;
			margin: 0;
			padding: 0;
			padding-top: 3px;
		}
		.change {
			font-size: 1em;
			padding: 0;
		}
	}
	
	.second-subsite {
		& > .container {
			background: rgba(0, 0, 0, 0.8);
			height: auto;
		}
		.well {
			background: none;
			height: 280px;
			margin: 0;
			padding: 15px;

			& > i {
				font-size: 50px;
				padding: 10px 0;
			}

			& > h4 {
				text-transform: uppercase;
				font-size: 3.5em;
				font-family: $OS;
				font-weight: 700;
				padding: 10px 0;
			}

			.description {
				font-size: 2.5em;
				line-height: 1.5;
				padding: 10px 0;
			}

		}
	}

	.third-subsite {

		background-position-x: left;
	
		.last-box {
			top: 0;

			.registry-info {
				font-size: 3.5em;
			}
		}

		min-height: 500px;
		 footer p {
			font-size: 3.5em;
			padding: 20px 0;
		}
	}
}

// NALEŻY ZMIENIĆ TEN WARUNEK PRZY ROZDZ TELEFONICZNEJ
// NOWE TABLETY RóWNIEż RODZIELCZOść TELEFONICZNA (DUżY PX RATIO)
@media (min-width: 768px) and (max-width: 1199px) {
	body {
		font-size: 0.4em;
	}
	.jumbotron {
		margin-top: 60px;

		input {
			font-size: 1.3em;
		}

		.warning {
			font-size: 1.2em;
		}
	}
	.arrow {
		display: none;
	}
	.second-subsite {

		.well {
			margin-top: 30px;
			height: 320px;

			& > i {
				font-size: 50px;
				padding: 10px;
			}

			& > h4 {
				font-size: 4em;
				padding: 10px 0;
			}

			& > .description {
				font-size: 3em;
			}

		}
	}
	.right-box > p {
		font-size: 1.5em;
	}
	.content {
		height: 90vh;
	}
	.second-subsite {
		height: 120vh;
	}
	.third-subsite {
		height: 100vh;
	}

}
@media (min-width: 1200px) and (max-width: 1599px) {
	body {
		font-size: 0.45em;
	}
	.jumbotron {
		margin-top: 60px;
	}
	.arrow {
		width: 50px;
		height: 50px;
		margin-left: -25px;

		i {
			font-size: 50px;
		}
	}
	.second-subsite {

		.well {
			margin-top: 80px;
			height: 380px;

			& > i {
				font-size: 50px;
				padding: 15px;
			}

			& > h4 {
				font-size: 3em;
				padding: 15px 0;
			}

		}
	}

}
@media (min-width: 1600px) and (max-width: 1899px) {
	body {
		font-size: 0.55em;
	}
}