body {
	font-size: 0.625em;
	font-family: $OS;
}

header {
	background-color: #000;
	margin: 0;

	.page-header {
		margin: 0;
		border: none;
		text-transform: uppercase;
		color: $colorBordo;
		padding: 10px 0 15px 0;
		font-family: $montserrat;
		text-decoration: underline;

		h1 {
			font-size: 6em;
			font-weight: 700;
		}
	}
}

.subsite {
	position: relative;
}

.content {
	background: url('../img/foto1.jpg') top center;
	border: 0;
}

.second-subsite {
	background: url('../img/foto2.jpg') bottom center;
}

.third-subsite {
	background: url('../img/foto3.jpg') bottom center;
}

.content, .second-subsite, .third-subsite {
	background-size: cover;
	background-repeat: no-repeat;
}

.jumbotron {
	margin-top: 120px;
	background-color: rgba(0, 0, 0, 0.85);
	border-radius: 0 !important;
	color: #fff;
	font-size: 2.5em;

	h2 {
		text-transform: uppercase;
		margin-bottom: 20px;

		span {
			font-weight: 700;
		}
	}

	.small-list {
		display: none;
	}

	ul li {
		margin-bottom: 10px;
	}

	input {
		border-radius: 0;
		border: none;
		font-family: $OS;
		color: #fff;
		font-weight: 300;
		font-size: 1em;
		height: auto;
		background-color: rgba(255, 255, 255, 0.3);
	}

	.right-box .change {
		margin-top: 10px;

		a {
			font-weight: 700;
			color: $colorTurkus;
		}

	}

	.forgot-pass {
		display: none;
		font-size: 18px;
		margin-top: -5px;
	}

	.warning {
		padding: 3px 0 3px 0;
		color: $colorBordo;
		font-family: $OS;
		font-weight: 700;
		font-size: 0.75em;
		margin-bottom: 0;
	}

}

.arrow {
	display: block;
	width: 86px;
	height: 86px;
	position: absolute;
	bottom: 5%;
	left: 50%;
	cursor: pointer;

	margin-left: -43px;
	animation: arrow-anim 2s infinite;

	i {
		font-size: 86px;
		color: $colorTurkus;
	}
}

.second-subsite {

	.well {
		background: rgba(0, 0, 0, 0.9);
		height: 450px;
		margin-top: 150px;
		color: #fff;
		border: none;

		& > i {
			font-size: 70px;
			padding: 20px;
		}

		& > h4 {
			text-transform: uppercase;
			font-size: 4em;
			font-family: $OS;
			font-weight: 700;
			padding: 20px 0;
		}

		.description {
			font-size: 2.2em;
			line-height: 1.5;
			padding: 20px 0;
		}
	}
}

.third-subsite {

	.last-box {
		background: rgba(0,0,0,0.85);
		padding: 20px 0;
		position: relative;
		top: 20px;
		color: #fff;
	}

	.registry-info {
		font-family: $OS;
		font-weight: 700;
		font-size: 4em;
		margin-bottom: 20px;
	}

	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.9);

		p {
			font-size: 6em;
			color: $colorBordo;
			font-weight: 700;
			font-family: $montserrat;
			text-transform: uppercase;
		}
	}
}

