// ROZDZIELCZOŚĆ TELEFONU NA PÓŹNIEJ
// NOWE TABLETY RóWNIEż RODZIELCZOść TELEFONICZNA (DUżY PX RATIO)
@media (max-width: 767px) {}

// NALEŻY ZMIENIĆ TEN WARUNEK PRZY ROZDZ TELEFONICZNEJ
// NOWE TABLETY RóWNIEż RODZIELCZOść TELEFONICZNA (DUżY PX RATIO)
@media (max-width: 1199px) {
	.content.empty-garage .empty {
		margin-left: 0;
	}
	.content.add-car .container form {
		padding: 10px;
	}
	.content.add-car .container form label {
		text-align: left;
		margin-bottom: 5px;
		font-size: 2em;
	}
	.content.add-car .container form input[type="text"] {
		font-size: 1.8em;
	}
	.content.add-car .container form .small-input .row input {
		margin-left: 25px;
	}
	.content.add-car .container form .small-input .row label.thin {
		font-size: 1.8em;
	}
	.row {
		margin: 10px;
	}
	.content.car .container .car-info {
		padding: 10px;
	}
	.content.car .container .car {
		margin-top: 10px;
	}
}

@media (min-width: 1200px) and (max-width: 1599px) {
	body {
		font-size: 0.5em;
	}
	.content.add-car .container form .small-input .row input {
		min-width: 70px;
	}
}

@media (min-width: 1600px) and (max-width: 1899px) {
	body {
		font-size: 0.6em;
	}
}