<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<base href="/">

		<title>Car Maintenance - Garaż w chmurze</title>

		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:700,300&subset=latin,latin-ext'>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Montserrat:400,700'>

		<link rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96">
		<link rel="stylesheet" href="css/index-styles.css">

		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->

	</head>

	<body>

		{{{body}}}

	</body>

</html>