<header>
	<div class="top">
		<i class="fa fa-bars"></i>
		<div class="profile">
			<div class="avatar"></div>
			<a href="#">rodzyn2007@gmail.com <i class="fa fa-arrow-circle-o-down"></i></a>
			<div class="clear"></div>
		</div>
	</div>
</header>

<div class="left-aside">

	<a href="#" class="logo">
		<h1>car maintenance</h1>
	</a>

	<div class="profile text-center">
		<div class="avatar"></div>

		<div class="profile-name">
			<a href="#">rodzyn2007@gmail.com</a>
		</div>
	</div>

	<nav>
		<h2>nawigacja</h2>

		<ul>
			<li><a href="" class="active"><i class="fa fa-fw fa-car"></i>Mój garaż</a></li>
			<li><a href=""><i class="fa fa-fw fa-map-marker"></i>Mapa warsztatów</a></li>
			<li><a href=""><i class="fa fa-fw fa-database"></i>Baza wiedzy</a></li>
			<li><a href=""><i class="fa fa-fw fa-newspaper-o"></i>Aktualności</a></li>
		</ul>
	</nav>

</div class="left-aside">

<div class="content garage">

	<div class="info">
		<div class="place">
			<h2>Mój garaż</h2>
			<h3>Witaj w panelu użytkownika Car Maintenance</h3>
		</div>

		<div class="breadcrumbs">
			<h3>jesteś tutaj: <a href="">Mój garaż</a></h3>

		</div>
	</div>

	<div class="container">
		<div class="row">
			<a href="#" class="add-car col-md-6 col-md-offset-3 col-xs-12 text-center">
				<p><i class="fa fa-plus"></i>Dodaj swój pojazd</p>
			</a>

			<a href="#" class="empty col-md-6 col-md-offset-3 col-xs-12 text-center">
				<p>Opel Astra.</p>
				<p class="reg">PL 09295</p>
				<i class="fa fa-car"></i>
			</a>
		</div>
	</div>

</div>

<script src="js/libs/jquery.js"></script>
<script src="js/scripts2.js"></script>