<section class="panel first-panel" data-section-name="first">

	<div class="container header">
		<div class="row zero">
			<div class="col-lg-12">

				<header>
					<h1>car maintenanc<span>e</span></h1>
				</header>

			</div>
		</div>
	</div>


	<div class="content">

		<div class="container">

			<div class="row">

				<div class="main-box col-lg-10 col-lg-offset-1">

					<div class="row">
						<div class="left-box col-lg-6 col-lg-offset-0 col-xs-6 col-xs-offset-3">
							<h2>zarządzaj swoim autem.<br>z domu. w trasie. w <span>chmurze</span>.</h2>

							<ul>
								<li><i class="fa fa-arrow-circle-right"></i> <span>Dodawaj</span> samochody</li>
								<li><i class="fa fa-arrow-circle-right"></i> Przypomnimy o <span>przeglądzie</span>.</li>
								<li><i class="fa fa-arrow-circle-right"></i> Przypomnimy o <span>wymienie</span> podzespołów.</li>
								<li><i class="fa fa-arrow-circle-right"></i> Znajdź  <span>warsztat</span>.</li>
								<li><i class="fa fa-arrow-circle-right"></i> Przeglądaj <span>wiadomości</span>.</li>
							</ul>

							<ul>
								<li><i class="fa fa-arrow-circle-right"></i> <span>Dodawaj</span> swoje samochody do wirtualnego garażu.</li>
								<li><i class="fa fa-arrow-circle-right"></i> Przypomnimy Ci o następnym <span>przeglądzie</span>.</li>
								<li><i class="fa fa-arrow-circle-right"></i> Przypomnimy Ci o zapłaceniu <span>ubezpieczenia</span>.</li>
								<li><i class="fa fa-arrow-circle-right"></i> Przypomnimy Ci o <span>wymianie</span> oleju, filtrów i podzespołów.</li>
								<li><i class="fa fa-arrow-circle-right"></i> Znajdź najbliższy <span>warsztat</span> w którym możesz dokonać napraw.</li>
								<li><i class="fa fa-arrow-circle-right"></i> Przeglądaj <span>wiadomości</span>.</li>
							</ul>
						</div>

						<div class="right-box col-lg-6 col-lg-offset-0 col-xs-6 col-xs-offset-3 text-center">
							<h2><span>Zarejestruj się</span> już teraz:</h2>

							<form action="" method="POST" class="registry-form">
								<div class="row">
									<input type="text" placeholder="Adres e-mail:" name="email" class="email-reg-input col-lg-8 col-lg-offset-2 col-xs-6 col-xs-offset-3">
									<p class="warning col-lg-8 col-lg-offset-2 col-xs-6 col-xs-offset-3 text-center"></p>
									<input type="password" placeholder="Hasło:" name="password" class="pass-reg-input col-lg-8 col-lg-offset-2 col-xs-6 col-xs-offset-3">
									<p class="warning col-lg-8 col-lg-offset-2 col-xs-6 col-xs-offset-3 text-center"></p>
									<input type="password" placeholder="Potwierdź hasło:" name="confirm" class="confirm-reg-input col-lg-8 col-lg-offset-2 col-xs-6 col-xs-offset-3">
									<p class="warning col-lg-8 col-lg-offset-2 col-xs-6 col-xs-offset-3 text-center"></p>
									<input type="submit" value="ZAREJESTRUJ" class="registry-btn col-lg-4 col-lg-offset-4 col-xs-6 col-xs-offset-3">
								</div>
							</form>

							<form action="" method="POST" class="login-form">
								<div class="row">
									<input type="text" placeholder="Adres e-mail:" name="email" class="email-log-input col-lg-8 col-lg-offset-2 col-xs-6 col-xs-offset-3">
									<p class="warning col-lg-8 col-lg-offset-2 col-xs-6 col-xs-offset-3 text-center"></p>
									<input type="password" placeholder="Hasło:" name="password" class="pass-log-input col-lg-8 col-lg-offset-2 col-xs-6 col-xs-offset-3">
									<p class="warning col-lg-8 col-lg-offset-2 col-xs-6 col-xs-offset-3 text-center"></p>
									<input type="submit" value="ZALOGUJ" name="login-btn" class="col-lg-4 col-lg-offset-4 col-xs-6 col-xs-offset-3">
								</div>
							</form>

							<p>Masz już konto? <a class="sign-in-link">Zaloguj się</a></p>

						</div>
					</div>
				</div>

			</div>

		</div>

		<a class="arrow" href="#second">
			<i class="fa fa-arrow-circle-o-down"></i>
		</a>

	</div>

</section>

<section class="panel second-panel" data-section-name="second">

	<div class="container boxes">

		<div class="row">

			<div class="box-container col-lg-3 col-xs-6 text-center">
				<div class="box">
					<i class="fa fa-search"></i>
					<h4>przegląd</h4>
					<p class="description">Dostaniesz wiadomość lub SMS z przypomnieniem o ważności przeglądu samochodu.</p>
				</div>
			</div>

			<div class="box-container col-lg-3 col-xs-6 text-center">
				<div class="box">
					<i class="fa fa-cog"></i>
					<h4>części i płyny</h4>
					<p class="description">Dostaniesz wiadomość lub SMS z przypomnieniem o konieczności wymiany płynów lub podzespołow, takich jak olej, klocki itp.</p>
				</div>
			</div>

			<div class="box-container col-lg-3 col-xs-6 text-center">
				<div class="box">
					<i class="fa fa-wrench"></i>
					<h4>warsztat</h4>
					<p class="description">Będziesz miał dostęp do mapy na której wyświetlą się najbliższe prestiżowe warsztaty samochodowe z możliwością wyszukiwania w innych częściach Polski.</p>
				</div>
			</div>

			<div class="box-container col-lg-3 col-xs-6 text-center">
				<div class="box">
					<i class="fa fa-newspaper-o"></i>
					<h4>wiadomości</h4>
					<p class="description">Przeglądaj informacje i nowości z dziedziny motoryzacji.</p>
				</div>
			</div>

		</div>

	</div>

	<a class="arrow" href="#third">
		<i class="fa fa-arrow-circle-o-down"></i>
	</a>

</section>

<section class="panel third-panel" data-section-name="third">

	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-xs-8 col-xs-offset-2 text-center">
				<div class="last-box">
					<p class="registry-info">Rejestracja zajmie Ci kilkanaście sekund.</p>
					<div class="row">
						<div class="col-lg-6 col-lg-offset-3 col-xs-4 col-xs-offset-4">
							<a href="#first" class="back-registry">utwórz konto</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<footer>
		<p>car maintenance 2015</p>
	</footer>

</section>

<script src="js/libs/jquery.js"></script>
<script src="js/libs/jquery.easing.js"></script>
<script src="js/libs/jquery.scrollify.js"></script>
<script src="js/libs/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>

<script src="js/App.js"></script>

<script>
	APP.init();
</script>