<section class="subsite first-subsite" data-section-name="first">

	<header>
		<div class="page-header text-center">
			<h1>car maintenance</h1>
		</div>
	</header>

	<div class="content">

		<div class="container">

			<div class="jumbotron">

				<div class="row">
					<div class="col-sm-6 col-xs-12">
						<div class="left-box">
							<h2>zarządzaj swoim autem.<br>z domu. w trasie. w <span>chmurze</span>.</h2>

							<ul class="list-unstyled visible-sm visible-xs">
								<li><i class="fa fa-arrow-circle-right"></i> <span>Dodawaj</span> samochody</li>
								<li><i class="fa fa-arrow-circle-right"></i> Przypomnimy o <span>przeglądzie</span>.</li>
								<li><i class="fa fa-arrow-circle-right"></i> Przypomnimy o <span>wymienie</span> podzespołów.</li>
								<li><i class="fa fa-arrow-circle-right"></i> Znajdź  <span>warsztat</span>.</li>
								<li><i class="fa fa-arrow-circle-right"></i> Przeglądaj <span>wiadomości</span>.</li>
							</ul>

							<ul class="list-unstyled hidden-sm hidden-xs">
								<li><i class="fa fa-arrow-circle-right"></i> <span>Dodawaj</span> swoje samochody do wirtualnego garażu.</li>
								<li><i class="fa fa-arrow-circle-right"></i> Przypomnimy Ci o następnym <span>przeglądzie</span>.</li>
								<li><i class="fa fa-arrow-circle-right"></i> Przypomnimy Ci o zapłaceniu <span>ubezpieczenia</span>.</li>
								<li><i class="fa fa-arrow-circle-right"></i> Przypomnimy Ci o <span>wymianie</span> oleju, filtrów i podzespołów.</li>
								<li><i class="fa fa-arrow-circle-right"></i> Znajdź najbliższy <span>warsztat</span> w którym możesz dokonać napraw.</li>
								<li><i class="fa fa-arrow-circle-right"></i> Przeglądaj <span>wiadomości</span>.</li>
							</ul>
						</div>
					</div>

					<div class="col-sm-6 col-xs-12 text-center">
						<div class="right-box">
							<h2><span>Zarejestruj się</span> już teraz:</h2>

							<div class="row">
								<form action="" method="POST" class="registry-form col-xs-12">

										<div class="row">
											<div class="form-group col-lg-8 col-lg-offset-2 col-xs-12">
												<input type="text" placeholder="Adres e-mail:" name="email" class="email-reg-input form-control">
												<p class="warning text-center"></p>
											</div>
											<div class="form-group col-lg-8 col-lg-offset-2 col-xs-12">
												<input type="password" placeholder="Hasło:" name="password" class="pass-reg-input form-control">
												<p class="warning text-center"></p>
											</div>
											<div class="form-group col-lg-8 col-lg-offset-2 col-xs-12">
												<input type="password" placeholder="Potwierdź hasło:" name="confirm" class="confirm-reg-input form-control">
												<p class="warning text-center"></p>
											</div>
											<div class="form-group col-lg-8 col-lg-offset-2 col-xs-12">
												<button type="submit" class="btn btn-success">Zarejestruj</button>
											</div>
										</div>

								</form>

								<form action="" method="POST" class="login-form col-xs-12">

										<div class="row">
											<div class="form-group col-lg-8 col-lg-offset-2 col-xs-12">
												<input type="text" placeholder="Adres e-mail:" name="email" class="email-log-input form-control">
												<p class="warning text-center"></p>
											</div>
											<div class="form-group col-lg-8 col-lg-offset-2 col-xs-12">
												<input type="password" placeholder="Hasło:" name="password" class="pass-log-input form-control">
												<p class="warning text-center"></p>
											</div>
											<div class="form-group col-lg-8 col-lg-offset-2 col-xs-12">
												<button type="submit" class="btn btn-success">Zaloguj</button>
											</div>
										</div>

								</form>

								<form action="" method="POST" class="reset-form col-xs-12" style="display: none">

										<div class="row">
											<div class="form-group col-lg-8 col-lg-offset-2 col-xs-12">
												<input type="text" placeholder="Adres e-mail:" name="email" class="email-reset-input form-control">
												<p class="warning text-center"></p>
											</div>
											<div class="form-group col-lg-8 col-lg-offset-2 col-xs-12">
												<button type="submit" class="btn btn-success">Resetuj</button>
											</div>
										</div>

								</form>

								<p class="col-xs-12 change">Masz już konto? <a href="#" class="sign-in-link">Zaloguj się</a></p>
								<p class="col-xs-12 change forgot-pass" style="display: none; font-size: 0.7em; margin-top: -5px;">Nie pamiętasz hasła? <a href="#" class="reset-pass">Zresetuj je</a></p>
							</div>
						</div>

					</div>
				</div>

			</div>

		</div>

		<a class="arrow hidden-sm hidden-xs" href="#second">
			<i class="fa fa-arrow-circle-o-down"></i>
		</a>

	</div>

</section>

<section class="subsite second-subsite" data-section-name="second">

	<div class="container">

		<div class="row text-center">

			<div class="col-lg-3 col-md-6 col-xs-12">
				<div class="well">
					<i class="fa fa-search"></i>
					<h4>przegląd</h4>
					<p class="description">Dostaniesz wiadomość lub SMS z przypomnieniem o ważności przeglądu samochodu.</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-xs-12">
				<div class="well">
					<i class="fa fa-cog"></i>
					<h4>części i płyny</h4>
					<p class="description">Dostaniesz wiadomość lub SMS z przypomnieniem o konieczności wymiany płynów lub podzespołow, takich jak olej, klocki itp.</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-xs-12">
				<div class="well">
					<i class="fa fa-wrench"></i>
					<h4>warsztat</h4>
					<p class="description">Będziesz miał dostęp do mapy na której wyświetlą się najbliższe prestiżowe warsztaty samochodowe z możliwością wyszukiwania w innych częściach Polski.</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-xs-12">
				<div class="well">
					<i class="fa fa-newspaper-o"></i>
					<h4>wiadomości</h4>
					<p class="description">Przeglądaj informacje i nowości z dziedziny motoryzacji.</p>
				</div>
			</div>

		</div>

	</div>

	<a class="arrow hidden-sm hidden-xs" href="#third">
		<i class="fa fa-arrow-circle-o-down"></i>
	</a>

</section>

<section class="subsite third-subsite" data-section-name="third">

	<div class="last-box">
		<div class="container">
			<div class="row">

				<div class="col-xs-12 text-center">
					<p class="registry-info">Rejestracja zajmie Ci kilkanaście sekund.</p>
					<div class="row">
						<div class="col-sm-4 col-sm-offset-4 col-xs-12">
							<button href="#first" type="button" class="btn btn-success back-registry">Utwórz konto</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<footer>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<p>car maintenance 2015</p>
				</div>
			</div>
		</div>
	</footer>

</section>

<script src="js/libs/jquery.js"></script>
<script src="js/libs/jquery.easing.js"></script>
<script src="js/libs/jquery.scrollify.js"></script>
<script src="js/libs/bootstrap.min.js"></script>
<script src="js/index-scripts.js"></script>

<script src="js/App.js"></script>

<script>
	APP.init();
</script>