<section class="subsite first-subsite" data-section-name="first">

	<header>
		<div class="page-header text-center">
			<h1>car maintenance</h1>
		</div>
	</header>

	<div class="content">

		<div class="container">

			<div class="jumbotron">

				<div class="row">

					<div class="col-xs-12">
						<p>Nowe hasło zostało wysłane na podany adres e-mail. Po zalogowaniu proszę zmienić hasło.</p>
						<a href="/garage">Przejdź do strony głównej</a>
					</div>

				</div>

			</div>

		</div>

	</div>

</section>

<script src="js/libs/jquery.js"></script>
<script src="js/libs/jquery.easing.js"></script>
<script src="js/libs/jquery.scrollify.js"></script>
<script src="js/libs/bootstrap.min.js"></script>

<script>
	$(".content").height($(window).height() - $("header").height());
</script>