<div class="choose-car">
	<h3>Wybierz samochód:</h3>
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-xs-12">
				<select class="form-control" id="brand-select">
					<option selected disabled>Wybierz markę...</option>
				</select>
			</div>
			<div class="col-xs-12">
				<select class="form-control" id="model-select">
					<option selected disabled>Wybierz model...</option>
				</select>
			</div>
			<div class="col-xs-12">
				<select class="form-control" id="engine-select">
					<option selected disabled>Wybierz silnik...</option>
				</select>
			</div>
		</div>
	</form>
</div>