<form class="form-horizontal" role="form">
	<h3 class="hidden-sm hidden-xs">Dodaj pojazd</h3>
	<div class="form-group">
		<label class="control-label col-sm-3 col-sm-offset-2 col-xs-12" for="country">Kraj rejestracji:</label>
	    <div class="col-sm-4 col-xs-12">
      		<input type="text" class="form-control" id="country" autofocus>
	    </div>
  	</div>
  	<div class="form-group">
    	<label class="control-label col-sm-3 col-sm-offset-2 col-xs-12" for="year">Rok produkcji:</label>
    	<div class="col-sm-4 col-xs-12">
    		<input type="text" class="form-control" id="year">
    	</div>
  	</div>
  	<div class="form-group">
    	<label class="control-label col-sm-3 col-sm-offset-2 col-xs-12" for="brand">Marka:</label>
    	<div class="col-sm-4 col-xs-12">
			<input type="text" class="form-control" id="brand">
    	</div>
  	</div>
  	<div class="form-group">
  		<label class="control-label col-sm-3 col-sm-offset-2 col-xs-12" for="model">Model:</label>
    	<div class="col-sm-4 col-xs-12">
    		<input type="text" class="form-control" id="model">
    	</div>
  	</div>
  	<div class="form-group">
		<label class="control-label col-sm-3 col-sm-offset-2 col-xs-12" for="reg">Numer rejestracyjny:</label>
		<div class="col-sm-4 col-xs-12">
			<input type="text" class="form-control" id="reg">
		</div>
  	</div>
  	<div class="form-group">
		<label class="control-label col-sm-3 col-sm-offset-2 col-xs-12" for="check">Przegląd techniczny:</label>
		<div class="col-sm-4 col-xs-12">
			<input type="text" class="form-control" id="check">
		</div>
		<p class="col-sm-7 col-sm-offset-5 col-xs-12 remind-info">Przypomnienia o dokonaniu przeglądu są wysyłane <span>na miesiąc przed</span> ustawioną datą.</p>
  	</div>
  	<div class="form-group">
		<label class="control-label col-sm-3 col-sm-offset-2 col-xs-12" for="insurance">Ubezpiecznie:</label>
		<div class="col-sm-4 col-xs-12">
			<input type="text" class="form-control" id="insurance">
		</div>
		<p class="col-sm-7 col-sm-offset-5 col-xs-12 remind-info">Przypomnienia o płatności ubezpieczenia są wysyłane <span>na miesiąc przed</span> ustawioną datą.</p>
  	</div>
  	<div class="form-group">
		<label class="control-label col-sm-3 col-sm-offset-2 col-xs-12" for="act-km">Aktualny przebieg:</label>
		<div class="col-sm-4 col-xs-12">
			<input type="text" class="form-control" id="act-km">
		</div>
  	</div>
  	<div class="form-group">
		<label class="control-label col-sm-3 col-sm-offset-2 col-xs-12" for="avg-km">Średni roczny przebieg:</label>
		<div class="col-sm-4 col-xs-12">
			<input type="text" class="form-control" id="avg-km">
		</div>
  	</div>
  	<div class="form-group">
		<label class="control-label col-sm-3 col-sm-offset-2 col-xs-12" for="vin">Numer VIN:</label>
		<div class="col-sm-4 col-xs-12">
			<input type="text" class="form-control" id="vin">
		</div>
  	</div>
  	<div class="form-group">
		<label class="control-label col-sm-4 col-sm-offset-1 col-xs-12 long">Jaki rodzaj opon używasz?</label>
		<div class="col-sm-7 col-xs-12">
      		<input type="radio" name="tire-kind" class="tire-kind" id="letnie" value="letnie"><label class="lbl-radio" for="letnie">Letnie</label>
			<input type="radio" name="tire-kind" class="tire-kind" id="zimowe" value="zimowe"><label class="lbl-radio" for="zimowe">Zimowe</label>
			<input type="radio" name="tire-kind" class="tire-kind" id="uniwersalne" value="uniwersalne"><label class="lbl-radio" for="uniwersalne">Uniwersalne</label>
		</div>
  	</div>
  	<div class="form-group small-input">
    	<label class="control-label col-sm-3 col-sm-offset-2 col-xs-12">Rozmiar opon:</label>
    	<div class="col-sm-7 col-xs-12">
    		<div class="row">
	      		<label class="col-xs-12">Przód:</label>
	      		<label class="col-sm-2 col-xs-6 thin" for="tire-width-front">Szerokość:</label>
	      		<select class="col-sm-4 col-xs-6" id="tire-width-front">
	      			<option value="" disabled selected></option>
	      			<option value="125">125</option>
					<option value="135">135</option>
					<option value="145">145</option>
					<option value="155">155</option>
					<option value="165">165</option>
					<option value="175">175</option>
					<option value="185">185</option>
					<option value="195">195</option>
					<option value="205">205</option>
					<option value="215">215</option>
					<option value="225">225</option>
					<option value="235">235</option>
					<option value="245">245</option>
					<option value="255">255</option>
					<option value="265">265</option>
					<option value="275">275</option>
					<option value="285">285</option>
					<option value="295">295</option>
					<option value="305">305</option>
					<option value="315">315</option>
					<option value="325">325</option>
					<option value="335">335</option>
					<option value="345">345</option>
					<option value="355">355</option>
	      		</select>
	      		<label class="col-sm-2 col-xs-6 thin" for="tire-inch-front">Przekątna:</label>
	      		<select class="col-sm-4 col-xs-6" id="tire-inch-front">
	      			<option value="" disabled selected></option>
	      			<option value="10">10</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
	      		</select>
	      	</div>
	      	<div class="row">
	      		<label class="col-xs-12">Tył:</label>
	      		<label class="col-sm-2 col-xs-6 thin" for="tire-width-back">Szerokość:</label>
	      		<select class="col-sm-4 col-xs-6" id="tire-width-back">
	      			<option value="" disabled selected></option>
	      			<option value="125">125</option>
					<option value="135">135</option>
					<option value="145">145</option>
					<option value="155">155</option>
					<option value="165">165</option>
					<option value="175">175</option>
					<option value="185">185</option>
					<option value="195">195</option>
					<option value="205">205</option>
					<option value="215">215</option>
					<option value="225">225</option>
					<option value="235">235</option>
					<option value="245">245</option>
					<option value="255">255</option>
					<option value="265">265</option>
					<option value="275">275</option>
					<option value="285">285</option>
					<option value="295">295</option>
					<option value="305">305</option>
					<option value="315">315</option>
					<option value="325">325</option>
					<option value="335">335</option>
					<option value="345">345</option>
					<option value="355">355</option>
	      		</select>
	      		<label class="col-sm-2 col-xs-6 thin" for="tire-inch-back">Przekątna:</label>
	      		<select class="col-sm-4 col-xs-6" id="tire-inch-back">
	      			<option value="" disabled selected></option>
	      			<option value="10">10</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
	      		</select>
	      	</div>

    	</div>
  	</div>

	{{#if newItem}}

  	<div class="form-group">
  		<div class="col-sm-2 col-sm-offset-5 col-xs-12">
				<button type="submit" class="btn btn-success">Dodaj</button>
			</div>
  	</div>

  	{{else}}

	<div class="form-group">

		<div class="col-sm-2 col-sm-offset-4 col-xs-12">
			<button type="submit" class="btn btn-success pull-right">Zapisz</button>
		</div>

		<div class="col-sm-2 col-xs-12">
			<button type="button" class="btn btn-danger pull-left delete-btn">Usuń pojazd</button>
		</div>

	</div>

	{{/if}}

</form>