<a href="/news/{{_id}}" class="box-link" pushstate-link>
	<div class="well">
		<div class="logo"><img src="{{small_photo_link}}" alt=""></div>
		<h4>{{header}}</h4>
		<p class="short-description">{{short_description}}</p>
	</div>
</a>