<div class="row">

	<div class="col-lg-8 col-lg-offset-2 text-center">

		<div class="message">

			<div class="logo"><img src="{{big_photo_link}}" alt=""></div>
			<h3>{{header}}</h3>
			<p class="description">{{long_description}}</p>

		</div>

	</div>

</div>