<div class="row">

	<div class="col-lg-8 col-lg-offset-2 text-center">

		<div class="message">

			<div class="logo"><img src="{{big_photo_link}}" alt=""></div>
			<h3>{{header}}</h3>
			<p class="description"></p>

			<p style="text-align: center; font-size: 1.3em; margin: 25px 0 10px 0;">Źródło: <a target="_blank" href="http://www.moto.onet.pl">www.moto.onet.pl</a></p>

		</div>

	</div>

</div>