$OS: "Open Sans";
$montserrat: "Montserrat";
$colorBordo: #700;
$colorTurkus: #27b6af;

// 65 - small, 250 - big
$nav: 250px;

.clear {
	clear: both;
}

@keyframes arrow-anim {
	0% {
		transform: scale(1.0);
		bottom: 7%;
	}
	50% {
		transform: scale(1.1);
		bottom: 5%;
	}
	100% {
		transform: scale(1.0);
		bottom: 7%;
	}
}

@keyframes arrow-anim2 {
	0% {
		transform: scale(1.0);
	}
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1.0);
	}
}